<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="header-css">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <script data-main="../js/unauthorised/main" th:src="@{/js/bower_components/requirejs/require.js}"></script>
        <script th:src="@{/js/utils/menuSwitch.js}"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.0/jquery-confirm.min.css">
        <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <script th:src="@{/js/utils/langSwitch.js}"></script>
</head>
<body>
<div th:fragment="header">
    <div class="navbar navbar-inverse ">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">Contact List</a>
            </div>
            <ul class="nav navbar-nav">
                <li ><a class="tablinks" href="#home" onclick="menuSwitch(event, 'content_home')">Home</a></li>
                <li ><a class="tablinks" href="#store" onclick="menuSwitch(event, 'content_books')">Books</a></li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a class="dropdown-toggle cursor_pointer" data-toggle="dropdown" role="button" aria-expanded="false"><span id="lanNavSel">LANG</span> <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a id="navEng" href="?lang=en" class="language"><img id="imgNavEng" src="" alt="..." class="img-thumbnail icon-small">  <span id="lanNavEng">English</span></a></li>
                        <li><a id="navRus" href="?lang=ru" class="language"> <img id="imgNavRus" src="" alt="..." class="img-thumbnail icon-small">  <span id="lanNavRus">Russian</span></a></li>
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="cursor_pointer"><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Sign in</a></li>
            </ul>
        </div>
    </div>
    <form id="logoutForm" method="post" th:action="@{/logout}"></form>
</div>
</body>
</html>