
.float_left {
    float: left;
}

.float_right {
    float: right;
}

.home_content {
    display: block;
}



.contactList_list {
    /*border-bottom: 1px solid #eaeaea;*/
    /*border-right: 1px solid #eaeaea;*/
    background-color: cornflowerblue;
    margin: .46154em .38462em 0 0;
    padding: 0 0 1.84615em;
    border: 1px solid black;
    border-radius: 5px;
    height: 62px;
}

.user, .buttons {
    font-family: Verdana;
    font-size: medium;
    text-align: center;
}

.userList, .buttonsList {
    font-family: Verdana;
    font-size: medium;
    text-align: center;
}

.userList_name, .buttonsList  {
    margin-top: 10px;
}

.userInfo {
    opacity: 0;
    position: fixed;
    top:0px;
    left: 50px;
    padding: 10px;
    background-color: yellow;
    height: auto;
    border-radius: 5px;
    border: 1px solid black;
    width: 250px;
}

.userName {
    font-weight: bold;
}


.userInfoUnit {
    margin-top: 15px;
    paddingp: 10px;
    font-family: Verdana;
    font-size: medium;
    text-align: center;
}

.closeUserInfo {
    margin-top: 5px;
    cursor: pointer;
    float: right;
}

.img {
    width: 60px;
    height: 60px;
}

.userForm {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: #111; /* Black*/
    opacity:0.9;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

.header {
    margin: 0 auto 20px;
    width: 44%;
    padding-bottom: 10px;
}

#add {
    float: right;
}

#search, #reset {
    margin-right: 20px;
}

.form-field-header {
    font-weight: bold;
    font-family: Verdana;
    font-size: medium;
    text-align: center;
    color: white;
}

.form-control {
    width: 40%;
}

.input-sm {
    float: left;
    height: 35px;
}

.paginationHolder {
    margin: 0 auto;
    width: max-content;
}

.pagination > .active > a {
    z-index: 0;
}

.pageNumber {
    list-style-type: none;
    display: inline-block;
    margin: 10px;
    padding: 10px;
    border: 1px solid black;
    background-color: green;
}

.contactPerPageHolder, .selectViewHolder {
    width: 50%;
}

.contactPerPageHolder {
    margin-left:17%;
}

.selectViewHolder {
    float: right;
}

.selectViewHolder > div {
    padding-left: 40%;
}
.selectViewHolder > div > a {
    padding: 10px;
}

#listtabs {
    width: 30px;
    height: 30px;
}
